@import "reset";

body {
  font-size: 1.8rem;
  background-color: #023047;
  font-family: "Quicksand", sans-serif;
}

.todo-container {
  max-width: 600px;
  background-color: #fff;
  padding: 10px 50px;
  border-radius: 5px;
  margin: 120px auto 0px auto;
  .todo-title {
    max-width: fit-content;
    font-size: 3.6rem;
    font-weight: 700;
    margin: 0px auto 10px auto;
  }
  .todo-theme {
    display: block;
    max-width: fit-content;
    font-size: 1.8rem;
    font-weight: 700;
    margin: 0px auto 20px auto;
    select {
      border: 2px solid #000;
      border-radius: 5px;
      margin-left: 20px;
    }
  }
}

.input {
  display: flex;
  align-items: center;
  .input-field {
    flex: 0 1 435px;
    padding: 15px 25px;
    border: 2px solid #8ecae6;
    border-radius: 5px;
    margin: 20px 0px;
  }
  .input-btn {
    width: 58px;
    height: 58px;
    display: grid;
    justify-content: center;
    align-content: center;
    font-size: 3.5rem;
    font-weight: 500;
    color: #8ecae6;
    background-color: transparent;
    padding: 0px 20px;
    border: 2px solid #8ecae6;
    border-radius: 5px;
    margin-left: 5px;
  }
}

.list {
  .list-item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    color: #2b6786;
    padding: 5px;
    border: 2px solid #8ecae6;
    border-radius: 5px;
    margin-bottom: 10px;
    .list-item-detail {
      width: 2px;
      height: 25px;
      background-color: #219ebc;
      border-radius: 5px;
      margin-right: 5px;
    }
    .list-item-check {
      width: 15px;
      height: 15px;
      border: 2px solid #fff;
      border-radius: 5px;
      box-shadow: 0px 0px 0px 2px #219ebc;
      margin-right: 10px;
      cursor: pointer;
    }
    .list-item-text {
      flex: 1 1 400px;
      width: 100%;
    }
    .list-item-delete {
      justify-self: flex-end;
      width: 25px;
      height: 25px;
      margin-left: 10px;
      position: relative;
      cursor: pointer;
      &::before,
      &::after {
        content: "";
        display: inline-block;
        width: 2px;
        height: 14px;
        background-color: #fb5a00;
        transform: rotate(45deg);
        position: absolute;
        top: 6px;
        right: 11px;
      }
      &::after {
        transform: rotate(135deg);
      }
    }
    &[data-checked="true"] {
      .list-item-check {
        background-color: #219ebc;
        border: 2px solid #fff;
        box-shadow: 0px 0px 0px 2px #219ebc;
      }
      .list-item-text {
        color: #9bb1bc;
        text-decoration: line-through;
      }
    }
  }
}
